@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply flex flex-col items-center justify-start min-h-screen text-gray-800;
  background: linear-gradient(180deg, #d9ecff 0%, #91aeca 35%, #ffffff 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}